{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-new-object": 1,
    "quote-props": ["error", "consistent-as-needed"],
    "no-array-constructor": 1,
    "quotes": [1, "single"],
    "max-len": [1, 80, 2],
    "no-inner-declarations": [1, "both"],
    "no-shadow-restricted-names": 1,
    "one-var": 0,
    "vars-on-top": 1,
    "eqeqeq": 1,
    "curly": [1, "all"],
    "no-mixed-spaces-and-tabs": 1,
    "space-before-blocks": [1, "always"],
    "space-infix-ops": 1,
    "eol-last": 1,
    "comma-style": [1, "last"],
    "comma-dangle": 1,
    "semi": [1, "always"],
    "radix": 1,
    "camelcase": 1,
    "new-cap": 1,
    "consistent-this": [1, "_this"],
    "func-names": 1
  }
}